body {
  font-family: Gotham, Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  color: #fff;
}

$base-color: #040E29;
$secondary-color: #00183C;
$octopus-pink: #FF0074;
$highlight: #35598D;

@import "./styles/mobile/mobile.scss";
@import "./styles/web/web.scss";